
<div class="container">
  <button class="btn add" routerLink="/add">Add Product</button>
  <table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">color</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.color}}</td>
      <td>
        <button (click)="editProduct(i)" class="btn edit"><i class="bi bi-pencil-square"></i></button>
        <button (click)="delete(i)" class="btn supp mx-2"><i class="bi bi-trash "></i></button>
      </td>
    </tr>
  </tbody>
</table>

</div>
