<form class=" mt-5 m-auto" style="width: 700px;">
  <div class="mb-3">
    <label for="name" class="form-label">Name Product</label>
    <input type="text" class="form-control" id="name" #name>
  </div>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="number" class="form-control" id="price" #price>
  </div>

  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input type="text" class="form-control" id="color" #color>
  </div>

  <button (click)="addProduct(name.value,price.value,color.value)" class="btn btn-primary">Submit</button>
</form>
